@model HRMS.Models.UserModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserMailTemplate</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
